@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}
.search-bar {
  width: 100%;
  max-width: 600px; /* Atur sesuai kebutuhan Anda */
  margin: 0 auto;
  position: relative;
  background-color: transparent;
  border: none;
  padding-left: 4px;
  padding-right: 4px;
  border-bottom: 2px solid red; 
  
}

.search-bar::placeholder {
color: white;
}

.search-input {
  width: 100%;
  padding: 8px 16px;
  border: none;
  border-bottom: 2px solid red; /* Garis bawah merah */
  background-color: rgba(255, 255, 255, 0.5); /* Background transparan */
  color: black;
  font-size: 16px;
  outline: none;
}

.search-input::placeholder {
  color: rgba(0, 0, 0, 0.5); /* Warna placeholder */
}

@media (max-width: 768px) {
  .search-bar {
    max-width: 100%;
    padding: 0 16px;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
