@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: black;
}
.search-bar {
  width: 80%;
  max-width: 600px; 
  margin: 0 auto;
  position: relative;
  background-color: transparent;
  border: none;
  border-bottom: 2px solid red; 
  
}

.search-bar::placeholder {
color: grey;
}

@media (max-width: 768px) {
  .search-bar {
    max-width: 100%;
    padding: 0 16px;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

body ::selection {
  color: red;
}

::-webkit-scrollbar {
  width: 10px;
  border-radius: 10px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: red;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}